<a href="https://colab.research.google.com/github/dsilan/MovieRecommendation/blob/master/MovieRecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Necessary libraries
import numpy as np
import pandas as pd
from google.colab import files
import sqlite3

In [11]:
#load datasets
uploaded = files.upload()

In [0]:
movie_dataset = sqlite3.connect('imdb.sqlite')

In [14]:
movies = pd.read_sql_query("SELECT * FROM movies", movie_dataset)

DatabaseError: ignored