In [0]:
#Necessary libraries
import numpy as np
import pandas as pd
from google.colab import files
import sqlite3

In [3]:
#load datasets
#we orginized the dataset; removed unnecessary columns and rows which has less than 6.5 averagerating etc.
uploaded = files.upload()

Saving imdb.csv to imdb.csv

In [0]:
movies = pd.read_csv('imdb.csv')

In [27]:
movies.head()

      tconst         primarytitle  ... averagerating  numvotes
0  tt0481580  Autism: The Musical  ...           7.9     642.0
1  tt0481587       Muskrat Lovely  ...           7.6      19.0
2  tt0481589       Naked in Ashes  ...           7.9      43.0
3  tt0481595     Operation Spring  ...           7.8      54.0
4  tt0481603  The Prince of Chess  ...           7.7      59.0

[5 rows x 8 columns]

In [8]:
movies.sort_values(by=['averagerating'], ascending=False)

           tconst  ... numvotes
6771   tt10315070  ...     10.0
38959   tt6735740  ...   2874.0
42524   tt7525642  ...    145.0
7264   tt11248618  ...      6.0
25422   tt2990342  ...      6.0
...           ...  ...      ...
11621   tt1599315  ...     96.0
35231   tt4844148  ...   2541.0
31392   tt3896738  ...   8781.0
40284   tt6193992  ...     31.0
17214   tt1899193  ...     23.0

[46749 rows x 8 columns]

In [21]:
movies.loc[movies['primarytitle']=='The Prestige']

       tconst  primarytitle  ... averagerating   numvotes
38  tt0482571  The Prestige  ...           8.5  1097775.0

[1 rows x 8 columns]

In [24]:
movies.sort_values(by=['numvotes'], ascending=False).head(15)

          tconst             primarytitle  ... averagerating   numvotes
3761   tt0468569          The Dark Knight  ...           9.0  2139554.0
10505  tt1375666                Inception  ...           8.8  1897466.0
10172  tt1345836    The Dark Knight Rises  ...           8.4  1424430.0
1287   tt0816692             Interstellar  ...           8.6  1352327.0
16746  tt1853728         Django Unchained  ...           8.4  1252402.0
2320   tt0372784            Batman Begins  ...           8.2  1227617.0
1730   tt0848228             The Avengers  ...           8.0  1208733.0
2277   tt0361748     Inglourious Basterds  ...           8.3  1165223.0
2518   tt0407887             The Departed  ...           8.5  1106657.0
38     tt0482571             The Prestige  ...           8.5  1097775.0
6111   tt0993846  The Wolf of Wall Street  ...           8.2  1072850.0
555    tt0499549                   Avatar  ...           7.8  1068590.0
7331   tt1130884           Shutter Island  ...           8.1  1039058.0
19867  tt2015381  Guardians of the Galaxy  ...           8.0   983473.0
2848   tt0434409           V for Vendetta  ...           8.2   972696.0

[15 rows x 8 columns]

In [31]:
genres = np.array(['Adventure','Sci-Fi','Animation','Comedy','Mystery','Thriller','Drama','Romance','Horror'])
genres

array(['Adventure', 'Sci-Fi', 'Animation', 'Comedy', 'Mystery',
       'Thriller', 'Drama', 'Romance', 'Horror'], dtype='<U9')